[run]
# Only measure your actual app code
source = maps
omit =
    */migrations/*
    */__init__.py
    *tests*
    test_*
    manage.py
    django_map/wsgi.py
    django_map/asgi.py
    maps/management/commands/import_*.py
    maps/urls.py

[report]
# Show which lines are missing in the terminal output
show_missing = True