Resources:
  # IPv4 HTTPS Ingress
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

  # IPv6 HTTPS Ingress
  sslSecurityGroupIngressIPv6:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIpv6: ::/0

  # IPv6 SSH Ingress (Port 22)
  sshSecurityGroupIngressIPv6:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 22
      FromPort: 22
      CidrIpv6: ::/0

  # existing IAM Policy
  AddEbNetworkPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: {"Fn::Join": ["-", ["EbNetworkPolicy", {"Ref": "AWSEBEnvironmentName"}]]}
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action: "rds-db:connect"
            Resource: "arn:aws:rds-db:*:*:dbuser:*/postgres"
          - Effect: "Allow"
            Action:
              - "ec2:DescribeVpcs"
              - "ec2:DescribeSubnets"
              - "ec2:DescribeEgressOnlyInternetGateways"
              - "ec2:DescribeRouteTables"
              - "ec2:CreateRoute"
            Resource: "*"
      Roles:
        - "aws-elasticbeanstalk-ec2-role"
