Resources:
  # 1. Create the Egress-Only Internet Gateway
  MyEgressOnlyIGW:
    Type: AWS::EC2::EgressOnlyInternetGateway
    Properties:
      # Automatically get the VPC ID assigned to the EB Environment
      VpcId: { "Fn::GetAtt": ["AWSEBVPCCustomized", "VpcId"] }

  # 2. Add the IPv6 Route to the Environment's Route Table
  MyIPv6EgressRoute:
    Type: AWS::EC2::Route
    Properties:
      # Refers to the default Route Table Elastic Beanstalk manages
      RouteTableId: { "Ref": "AWSEBPrivateRouteTable" }
      DestinationIpv6CidrBlock: "::/0"
      EgressOnlyInternetGatewayId: { "Ref": "MyEgressOnlyIGW" }
