Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

# Adding the policy to the existing role
  AddRdsAuthPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: "RdsConnectPolicy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action: "rds-db:connect"
            Resource: "arn:aws:rds-db:us-east-2:793314585930:dbuser:db-X5MYXHXFINRFIOL4WOKGJGXS3I/postgres"
      Roles:
        - "aws-elasticbeanstalk-ec2-role" # This refers to the default EB EC2 role