files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
-----BEGIN CERTIFICATE-----
MIIEpDCCA4ygAwIBAgIUGK3x6G39dGwnzknEKPyvg79DwrYwDQYJKoZIhvcNAQEL
BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
MB4XDTI2MDIyNDA3MTEwMFoXDTQxMDIyMDA3MTEwMFowYjEZMBcGA1UEChMQQ2xv
dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEA29PtlInqv1d9qypF4s5/46xJYqX43glqrajO
YALDeaRnY811QrjDlQBLL6GGUPjcJUf8jnmMqZaba5I2qkkQLTDvg97sb9Ho/BgV
edXidEehrCzVWgearmDTJEOSduh12aPn2eJH59MdfYkJxSi6a0hgWOuFkwMi4iLZ
5vey6MfeubDcEzcR//zmXRieS73geSEftV8z8PFq+HT02ddgCIoZm0aFR7pvstcg
1nu0qHgr8Skg0eLs0J7bG0Hw9fkY1nJfzu3R3BqfxYy/AqgPBySLKh9kpwQsnofA
VHhvD91diSYzLpXfTStYw+78TCEvGtzTCe8qwIXEojCD2aGLNwIDAQABo4IBJjCC
ASIwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBSVAkZ3JDgHDNhURAieagx5ejmgSjAf
BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
YTAnBgNVHREEIDAegg4qLmFtZW5pdHkuaGVscIIMYW1lbml0eS5oZWxwMDgGA1Ud
HwQxMC8wLaAroCmGJ2h0dHA6Ly9jcmwuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2Nh
LmNybDANBgkqhkiG9w0BAQsFAAOCAQEAUxg1psSzPZY7WF7dsO26xCS/qZm7owxW
kCfoJnyXv7RW235DNQ33r4rbr54yw7zycC88OVZSQCMYVbZn7GcUtu9LROoALYws
adA6X8XXD6nOiquibA0SJcOYOhr+GmBvp7+yE+a1akN9Ble+/D4ExbpKOJpWWHGC
/KqI61L+2gFmjWmKCrhF6KJ5/nbksHkF64oh9SVoEVLWAC2Cpzynb0bO1p4KWDcc
KYsaoChwyjfLdFpD6XlR8KnylrIhHf5bGWG6rkMacin2UCbYDsH6kgfmG4E87n8/
1w8Th8HBjIjxMgBRVq2SN0gZwBgmNaWjglpL14CUaKtsoaUVEA+ZEQ==
-----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
-----BEGIN PRIVATE KEY-----
MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDb0+2Uieq/V32r
KkXizn/jrElipfjeCWqtqM5gAsN5pGdjzXVCuMOVAEsvoYZQ+NwlR/yOeYyplptr
kjaqSRAtMO+D3uxv0ej8GBV51eJ0R6GsLNVaB5quYNMkQ5J26HXZo+fZ4kfn0x19
iQnFKLprSGBY64WTAyLiItnm97Lox965sNwTNxH//OZdGJ5LveB5IR+1XzPw8Wr4
dPTZ12AIihmbRoVHum+y1yDWe7SoeCvxKSDR4uzQntsbQfD1+RjWcl/O7dHcGp/F
jL8CqA8HJIsqH2SnBCyeh8BUeG8P3V2JJjMuld9NK1jD7vxMIS8a3NMJ7yrAhcSi
MIPZoYs3AgMBAAECggEALg/zzfayQkLOeeHDQBm+EZJl1C5r/faiLF5dVB/wHtqU
sYR5SDBYBy5HEuV5NBlZY9R4NtCAaX699WXvX3Is2hNRdOPuziWBeOWBBoULTQs/
dMj2McW7I0P1qjkghRsDqsWeDPlN0OVbXhUrf20f1uAVFDzRwfLbyd+8ohmQGxd2
38KEX67UZhTfsKxuW8qeI8jAMtz2G+PBwIbGIUDnlKUoGMpFP29WvAmL9WJN6tk8
zrZQs3Vq6kAZ2cG4kjVUgg+R24xSG1NRZXA4Rbd5C0yeWKfIaMWS/pjwq5fCC4Zc
VWKJp32kfi9mNzpKrNLkw0YtrsPv4fbwNqHwjvJQaQKBgQD7FvveLhKi2CIp5lxX
s+L0NxrpUlyteYyY24M2U6i3zTAMbkeG7Fcs4RNbRW/1/Zu1FGciZm+Zy1nECtCZ
D5zDXwMwfWzsmX3eViwWJ9gjJCgkWEZW1XkRQkdPaGTQ7d9X3iVMjIhQmh+wWe+d
oEEkPSDZqQm5xfppkPKtssCKmQKBgQDgIHB681pdHKoJ2HHbTgsAa8P6YrotMWyG
y2Ku7f+W5NlQtQKI6x/i0N1bm3Y4xOHlQFcvx0TcmEBv4uFuWJTchRaLSTkhcWCA
NinUbm7R+CaarSh+yZfJqLQSZdQJcu/sE8+LtOKULIvSpRoAaAuY/41CIS0NK/en
D0zIpd62TwKBgQCWk5P8C9k1OzRRuEoMdl5WYm2LGs9lYQ1F5e5sOANoJm74JXJT
oYwt59R52cxo0uv7zf6DjLbEnkR44ptyDwDN0T7SZ4VY5juriDXsG3zsphREp4OX
M3HlPcASCOLcwKo9wYTQwT5GSAdU9LpT5vTpzJbUsSCZ/fZMNJa0QAxjkQKBgQCw
hbwxijN0vJvMD1Z1dL1Dgp0jOtkJuTCR5eR+hGLW1L24TCiH8C/386s0eHgfdCm6
5vcEYX0CBURTGy2UPF5aZNQBthUyGtr3gDFn5+aOp1S4ZINNgLd1E9Nn3h2np4gB
twSzMy91prQlnvWgtlHUGgqGuByEkEmIoYtHSSTlDwKBgQDitkiQACfjrdEzDBWX
1ch/zR2FYThXT6whQJ6R55ouhJ8iDBLDUup+qffpI7zCiMFV3+eZdcG2dBrXOiLs
N1v3hPrYT6DvKL+IwYOEeZXG1voGHxtEdiIVM1/9pRJjDSLS3eYr6Y13Oh0MXQpE
Pyn0vd64PRbhBO9nfrmIfAWKVw==
-----END PRIVATE KEY-----

