commands:
  00_create_add_swap:
    command: |
      if [ ! -f /swapfile ]; then
        fallocate -l 2G /swapfile
        chmod 600 /swapfile
        mkswap /swapfile
        echo "/swapfile none swap sw 0 0" >> /etc/fstab
      fi
      if ! grep -q "/swapfile" /proc/swaps; then
        swapon /swapfile
      fi
    leader_only: false
