packages:
  yum:
    # Core spatial libraries
    gdal310: []
    postgresql17: []

files:
  "/usr/local/bin/rds_bootstrap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # 1. Check if the user exists (returns '1' if found, '0' if not)
      export PGPASSWORD=$RDS_MASTER_PASSWORD
      USER_EXISTS=$(psql -h $DB_HOST -p ${DB_PORT:-5432} -U ${RDS_MASTER_USER:-postgres} -d $DB_NAME -tAc "SELECT 1 FROM pg_roles WHERE rolname='$DB_USER'")

      # 2. Only run the create command if the variable is empty
      if [ -z "$USER_EXISTS" ]; then
          echo "Creating user $DB_USER..."
          psql -h $DB_HOST -p ${DB_PORT:-5432} -U ${RDS_MASTER_USER:-postgres} -d $DB_NAME -c "CREATE USER $DB_USER WITH PASSWORD '$DB_PASSWORD'; ALTER ROLE $DB_USER SET search_path TO $APP_ENV, public;"
      else
          echo "User $DB_USER already exists, skipping creation."
      fi

container_commands:
  01_bootstrap:
    command: "/usr/local/bin/rds_bootstrap.sh"
    leader_only: true
  02_setup_db_permissions:
    command: |
      export PGPASSWORD=$RDS_MASTER_PASSWORD
      psql -h $DB_HOST -p ${DB_PORT:-5432} -U ${RDS_MASTER_USER:-postgres} -d $DB_NAME -c "create extension if not exists postgis; GRANT USAGE ON SCHEMA public TO $DB_USER; GRANT SELECT ON public.spatial_ref_sys TO $DB_USER; GRANT SELECT ON public.geometry_columns TO $DB_USER; CREATE SCHEMA IF NOT EXISTS $APP_ENV; ALTER SCHEMA $APP_ENV OWNER TO $DB_USER;"

    leader_only: true
  03_migrate:
    command: "source /var/app/venv/*/bin/activate && python manage.py migrate --noinput"
    leader_only: true
  04_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput --clear"
    leader_only: false