packages:
  yum:
    # Core spatial libraries
    gdal310: []
    postgresql17: []
    postgresql17-contrib: []

files:
  "/etc/pki/tls/certs/global-bundle.pem":
    mode: "000644"
    owner: root
    group: root
    source: https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem

  "/usr/local/bin/rds_bootstrap.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # 1. Check if the user exists (returns '1' if found, '0' if not)
      if [ -z $RDS_PASSWORD ]; then
        export PGPASSWORD=$(aws rds generate-db-auth-token \
          --hostname $RDS_HOSTNAME \
          --port ${RDS_PORT:-5432} \
          --username ${RDS_USERNAME:-postgres} \
          --region ${AWS_REGION:-us-east-2})
      else
        export PGPASSWORD=$RDS_PASSWORD
        if [ -z $DB_PASSWORD ]; then
          export DB_PASSWORD=$RDS_PASSWORD
        fi
      fi

      export PGSSLROOTCERT=/etc/pki/tls/certs/global-bundle.pem
      export PGSSLMODE=verify-full
      if [ -z $APP_ENV ]; then
        # no $APP_ENV, run as the default user / schema, e.g. amenities
        APP_ENV=$RDS_DB_NAME
        DB_USER=$RDS_DB_NAME
      else
        # $APP_ENV is added to DB NAME e.g. amenities_dev
        DB_USER=${RDS_DB_NAME}_${APP_ENV}
      fi
      
      USER_EXISTS=$(psql -h $RDS_HOSTNAME -p ${RDS_PORT:-5432} -U ${RDS_USERNAME:-postgres} -d $RDS_DB_NAME -tAc "SELECT 1 FROM pg_roles WHERE rolname='$DB_USER'")

      # 2. Only run the create command if the variable is empty
      if [ -z "$USER_EXISTS" ]; then
          echo "Creating user $DB_USER..."
          psql -h $RDS_HOSTNAME -p ${RDS_PORT:-5432} -U ${RDS_USERNAME:-postgres} -d $RDS_DB_NAME -c "CREATE USER $DB_USER WITH PASSWORD '$DB_PASSWORD'; ALTER ROLE $DB_USER SET search_path TO $APP_ENV, public;"
      else
          echo "User $DB_USER already exists, skipping creation."
      fi

container_commands:
  01_bootstrap:
    command: "/usr/local/bin/rds_bootstrap.sh"
    leader_only: true
  02_setup_db_permissions:
    command: |
      if [ -z $RDS_PASSWORD ]; then
        export PGPASSWORD=$(aws rds generate-db-auth-token \
          --hostname $RDS_HOSTNAME \
          --port ${RDS_PORT:-5432} \
          --username ${RDS_USERNAME:-postgres} \
          --region ${AWS_REGION:-us-east-2})
      else
        export PGPASSWORD=$RDS_PASSWORD
      fi
      export PGSSLROOTCERT=/etc/pki/tls/certs/global-bundle.pem
      export PGSSLMODE=verify-full
      if [ -z $APP_ENV ]; then
        # no $APP_ENV, run as the default user / schema, e.g. amenities
        APP_ENV=$RDS_DB_NAME
        DB_USER=$RDS_DB_NAME
      else
        # $APP_ENV is added to DB NAME e.g. amenities_dev
        DB_USER=${RDS_DB_NAME}_${APP_ENV}
      fi
      psql -h $RDS_HOSTNAME -p ${RDS_PORT:-5432} -U ${RDS_USERNAME:-postgres} -d $RDS_DB_NAME -c "
        create extension if not exists postgis;
        GRANT USAGE ON SCHEMA public TO $DB_USER;
        GRANT SELECT ON public.spatial_ref_sys TO $DB_USER;
        GRANT SELECT ON public.geometry_columns TO $DB_USER;
        CREATE SCHEMA IF NOT EXISTS $APP_ENV;
        ALTER SCHEMA $APP_ENV OWNER TO $DB_USER;"

    leader_only: true
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput --clear"
    leader_only: false
  04_create_media_dir:
    command: "mkdir -p /var/app/staging/media/avatars && chown -R webapp:webapp /var/app/staging/media"
    leader_only: false
  05_reload_gunicorn:
    command: "kill -HUP $(pgrep -f -P 1 gunicorn) || true"
    leader_only: false
  06_loaddata:
    command: "source /var/app/venv/*/bin/activate && bash /var/app/staging/load_data.sh"
    leader_only: true
