container_commands:
  03_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput --clear"
    leader_only: false
  04_create_media_dir:
    command: "mkdir -p /var/app/staging/media/avatars && chown -R webapp:webapp /var/app/staging/media"
    leader_only: false
  05_reload_gunicorn:
    command: "kill -HUP $(pgrep -f -P 1 gunicorn) || true"
    leader_only: false
  06_loaddata:
    command: "source /var/app/venv/*/bin/activate && bash /var/app/staging/load_data.sh"
    leader_only: true
