container_commands:
  10_loaddata:
    command: |
      echo "Running as: `whoami`" && \
      sudo kill -1 $(pidof pgbouncer) && \
      . /var/app/venv/*/bin/activate && \
      if [ -d /var/app/staging ]; then
        /var/app/staging/load_data.sh
      else
        /var/app/current/load_data.sh
      fi
    leader_only: false